# PROJECT

# Fatima Shafique (BSAIM-S24-036)

# Fake News Detector

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

import pickle
from sklearn.svm import SVC

In [2]:
data = pd.read_csv("fake_news_dataset.csv")
data

,id,title,author,text,state,date_published,source,category,sentiment_score,word_count,...,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score,label
0,1,Breaking News 1,Jane Smith,This is the content of article 1. It contains ...,Tennessee,30-11-2021,The Onion,Entertainment,-0.22,1302.0,...,47305.0,450.0,Center,FALSE,1,76,6,0.84,53.35,Fake
1,2,Breaking News 2,Emily Davis,This is the content of article 2. It contains ...,Wisconsin,2/9/2021,The Guardian,Technology,0.92,322.0,...,39804.0,530.0,Left,Mixed,1,1,5,0.85,28.28,Fake
2,3,Breaking News 3,John Doe,This is the content of article 3. It contains ...,Missouri,13-04-2021,New York Times,Sports,0.25,228.0,...,45860.0,763.0,Center,Mixed,0,57,1,0.72,0.38,Fake
3,4,Breaking News 4,Alex Johnson,This is the content of article 4. It contains ...,North Carolina,8/3/2020,CNN,Sports,0.94,155.0,...,34222.0,945.0,Center,TRUE,1,18,10,0.92,32.20,Fake
4,5,Breaking News 5,Emily Davis,This is the content of article 5. It contains ...,California,23-03-2022,Daily Mail,Technology,-0.01,962.0,...,35934.0,433.0,Right,Mixed,0,95,6,0.66,77.70,Real
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,Breaking News 3996,John Doe,This is the content of article 3996. It contai...,Ohio,25-04-2020,InfoWars,Technology,0.91,1227.0,...,38880.0,697.0,Right,Mixed,0,29,10,0.22,95.46,Fake
3996,3997,Breaking News 3997,Alex Johnson,This is the content of article 3997. It contai...,Washington,9/1/2022,CNN,Sports,-0.57,1296.0,...,3650.0,925.0,Left,FALSE,1,53,3,0.42,16.54,Fake
3997,3998,Breaking News 3998,Alex Johnson,This is the content of article 3998. It contai...,California,3/3/2023,Breitbart,Entertainment,-0.17,522.0,...,35391.0,577.0,Left,FALSE,0,22,9,0.50,28.51,Fake
3998,3999,Breaking News 3999,John Doe,This is the content of article 3999. It contai...,Illinois,13-04-2021,New York Times,Health,-0.88,169.0,...,40424.0,201.0,Left,FALSE,1,3,6,0.17,71.16,Real
3999,4000,Breaking News 4000,John Doe,This is the content of article 4000. It contai...,Texas,20-12-2023,The Guardian,Health,-0.95,465.0,...,48913.0,279.0,Right,TRUE,1,73,4,0.09,27.65,Real

In [3]:
print(f"Number of Rows: {data.shape[0]}\nNumber of Columns: {data.shape[1]}")

Number of Rows: 4000
Number of Columns: 24

In [4]:
data.head(5)

,id,title,author,text,state,date_published,source,category,sentiment_score,word_count,...,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score,label
0,1,Breaking News 1,Jane Smith,This is the content of article 1. It contains ...,Tennessee,30-11-2021,The Onion,Entertainment,-0.22,1302.0,...,47305.0,450.0,Center,FALSE,1,76,6,0.84,53.35,Fake
1,2,Breaking News 2,Emily Davis,This is the content of article 2. It contains ...,Wisconsin,2/9/2021,The Guardian,Technology,0.92,322.0,...,39804.0,530.0,Left,Mixed,1,1,5,0.85,28.28,Fake
2,3,Breaking News 3,John Doe,This is the content of article 3. It contains ...,Missouri,13-04-2021,New York Times,Sports,0.25,228.0,...,45860.0,763.0,Center,Mixed,0,57,1,0.72,0.38,Fake
3,4,Breaking News 4,Alex Johnson,This is the content of article 4. It contains ...,North Carolina,8/3/2020,CNN,Sports,0.94,155.0,...,34222.0,945.0,Center,TRUE,1,18,10,0.92,32.20,Fake
4,5,Breaking News 5,Emily Davis,This is the content of article 5. It contains ...,California,23-03-2022,Daily Mail,Technology,-0.01,962.0,...,35934.0,433.0,Right,Mixed,0,95,6,0.66,77.70,Real

In [5]:
data.tail(4)

,id,title,author,text,state,date_published,source,category,sentiment_score,word_count,...,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score,label
3996,3997,Breaking News 3997,Alex Johnson,This is the content of article 3997. It contai...,Washington,9/1/2022,CNN,Sports,-0.57,1296.0,...,3650.0,925.0,Left,FALSE,1,53,3,0.42,16.54,Fake
3997,3998,Breaking News 3998,Alex Johnson,This is the content of article 3998. It contai...,California,3/3/2023,Breitbart,Entertainment,-0.17,522.0,...,35391.0,577.0,Left,FALSE,0,22,9,0.50,28.51,Fake
3998,3999,Breaking News 3999,John Doe,This is the content of article 3999. It contai...,Illinois,13-04-2021,New York Times,Health,-0.88,169.0,...,40424.0,201.0,Left,FALSE,1,3,6,0.17,71.16,Real
3999,4000,Breaking News 4000,John Doe,This is the content of article 4000. It contai...,Texas,20-12-2023,The Guardian,Health,-0.95,465.0,...,48913.0,279.0,Right,TRUE,1,73,4,0.09,27.65,Real

In [6]:
data.describe()

,id,sentiment_score,word_count,char_count,has_images,has_videos,readability_score,num_shares,num_comments,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score
count,4000.000000,4000.000000,3966.000000,3966.000000,3966.000000,3966.000000,3966.000000,3966.000000,3966.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000
mean,2000.500000,-0.000645,796.606657,4276.520424,0.496974,0.484367,54.799627,25148.345436,490.748865,0.497000,49.960750,5.54925,0.494447,50.598110
std,1154.844867,0.574768,406.687770,2186.841986,0.500054,0.499819,14.404564,14373.116275,287.402013,0.500054,29.467911,2.87422,0.289138,28.932298
min,1.000000,-1.000000,100.000000,500.000000,0.000000,0.000000,30.020000,39.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.040000
25%,1000.750000,-0.490000,447.000000,2360.250000,0.000000,0.000000,42.570000,12792.250000,239.000000,0.000000,24.000000,3.00000,0.240000,25.915000
50%,2000.500000,-0.010000,794.500000,4287.000000,0.000000,0.000000,54.290000,25344.500000,484.000000,0.000000,50.000000,6.00000,0.490000,51.480000
75%,3000.250000,0.510000,1151.000000,6206.000000,1.000000,1.000000,67.250000,37450.250000,741.750000,1.000000,76.000000,8.00000,0.740000,75.580000
max,4000.000000,1.000000,1500.000000,7996.000000,1.000000,1.000000,79.980000,50000.000000,1000.000000,1.000000,100.000000,10.00000,1.000000,99.950000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4000 non-null   int64
 1   title              4000 non-null   object
 2   author             4000 non-null   object
 3   text               4000 non-null   object
 4   state              4000 non-null   object
 5   date_published     4000 non-null   object
 6   source             4000 non-null   object
 7   category           4000 non-null   object
 8   sentiment_score    4000 non-null   float64
 9   word_count         3966 non-null   float64
 10  char_count         3966 non-null   float64
 11  has_images         3966 non-null   float64
 12  has_videos         3966 non-null   float64
 13  readability_score  3966 non-null   float64
 14  num_shares         3966 non-null   float64
 15  num_comments       3966 non-null   float64
 16  political_bias     4000 non-null   object
 17  fact_check_rating  4000 non-null   object
 18  is_satirical       4000 non-null   int64
 19  trust_score        4000 non-null   int64
 20  source_reputation  4000 non-null   int64
 21  clickbait_score    4000 non-null   float64
 22  plagiarism_score   4000 non-null   float64
 23  label              4000 non-null   object
dtypes: float64(10), int64(4), object(10)
memory usage: 750.1+ KB

In [8]:
data.columns

Index(['id', 'title', 'author', 'text', 'state', 'date_published', 'source',
       'category', 'sentiment_score', 'word_count', 'char_count', 'has_images',
       'has_videos', 'readability_score', 'num_shares', 'num_comments',
       'political_bias', 'fact_check_rating', 'is_satirical', 'trust_score',
       'source_reputation', 'clickbait_score', 'plagiarism_score', 'label'],
      dtype='object')

In [9]:
for i in data.columns:
    print(i)

id
title
author
text
state
date_published
source
category
sentiment_score
word_count
char_count
has_images
has_videos
readability_score
num_shares
num_comments
political_bias
fact_check_rating
is_satirical
trust_score
source_reputation
clickbait_score
plagiarism_score
label

In [10]:
data.count()

id                   4000
title                4000
author               4000
text                 4000
state                4000
date_published       4000
source               4000
category             4000
sentiment_score      4000
word_count           3966
char_count           3966
has_images           3966
has_videos           3966
readability_score    3966
num_shares           3966
num_comments         3966
political_bias       4000
fact_check_rating    4000
is_satirical         4000
trust_score          4000
source_reputation    4000
clickbait_score      4000
plagiarism_score     4000
label                4000
dtype: int64

In [11]:
data['source_reputation'].unique()

array([ 6,  5,  1, 10,  7,  3,  4,  8,  2,  9], dtype=int64)

In [12]:
data.nunique()

id                   4000
title                4000
author                  5
text                 4000
state                  20
date_published       1416
source                 13
category                6
sentiment_score       201
word_count           1321
char_count           3114
has_images              2
has_videos              2
readability_score    2718
num_shares           3816
num_comments          981
political_bias          3
fact_check_rating       3
is_satirical            2
trust_score           101
source_reputation      10
clickbait_score       101
plagiarism_score     3320
label                   2
dtype: int64

In [13]:
data.isnull().sum()

id                    0
title                 0
author                0
text                  0
state                 0
date_published        0
source                0
category              0
sentiment_score       0
word_count           34
char_count           34
has_images           34
has_videos           34
readability_score    34
num_shares           34
num_comments         34
political_bias        0
fact_check_rating     0
is_satirical          0
trust_score           0
source_reputation     0
clickbait_score       0
plagiarism_score      0
label                 0
dtype: int64

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4000 non-null   int64
 1   title              4000 non-null   object
 2   author             4000 non-null   object
 3   text               4000 non-null   object
 4   state              4000 non-null   object
 5   date_published     4000 non-null   object
 6   source             4000 non-null   object
 7   category           4000 non-null   object
 8   sentiment_score    4000 non-null   float64
 9   word_count         3966 non-null   float64
 10  char_count         3966 non-null   float64
 11  has_images         3966 non-null   float64
 12  has_videos         3966 non-null   float64
 13  readability_score  3966 non-null   float64
 14  num_shares         3966 non-null   float64
 15  num_comments       3966 non-null   float64
 16  political_bias     4000 non-null   object
 17  fact_check_rating  4000 non-null   object
 18  is_satirical       4000 non-null   int64
 19  trust_score        4000 non-null   int64
 20  source_reputation  4000 non-null   int64
 21  clickbait_score    4000 non-null   float64
 22  plagiarism_score   4000 non-null   float64
 23  label              4000 non-null   object
dtypes: float64(10), int64(4), object(10)
memory usage: 750.1+ KB

In [15]:
data.isnull().sum()

id                    0
title                 0
author                0
text                  0
state                 0
date_published        0
source                0
category              0
sentiment_score       0
word_count           34
char_count           34
has_images           34
has_videos           34
readability_score    34
num_shares           34
num_comments         34
political_bias        0
fact_check_rating     0
is_satirical          0
trust_score           0
source_reputation     0
clickbait_score       0
plagiarism_score      0
label                 0
dtype: int64

## Dealing with Null Values

In [16]:
def fillNaMean(cols):
    for i in cols:
        data[i] = data[i].fillna(data[i].mean())

columns = ['word_count', 'char_count', 'has_images', 'has_videos','readability_score','num_shares','num_comments']
fillNaMean(columns)

In [17]:
data.isnull().sum()

id                   0
title                0
author               0
text                 0
state                0
date_published       0
source               0
category             0
sentiment_score      0
word_count           0
char_count           0
has_images           0
has_videos           0
readability_score    0
num_shares           0
num_comments         0
political_bias       0
fact_check_rating    0
is_satirical         0
trust_score          0
source_reputation    0
clickbait_score      0
plagiarism_score     0
label                0
dtype: int64

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4000 non-null   int64
 1   title              4000 non-null   object
 2   author             4000 non-null   object
 3   text               4000 non-null   object
 4   state              4000 non-null   object
 5   date_published     4000 non-null   object
 6   source             4000 non-null   object
 7   category           4000 non-null   object
 8   sentiment_score    4000 non-null   float64
 9   word_count         4000 non-null   float64
 10  char_count         4000 non-null   float64
 11  has_images         4000 non-null   float64
 12  has_videos         4000 non-null   float64
 13  readability_score  4000 non-null   float64
 14  num_shares         4000 non-null   float64
 15  num_comments       4000 non-null   float64
 16  political_bias     4000 non-null   object
 17  fact_check_rating  4000 non-null   object
 18  is_satirical       4000 non-null   int64
 19  trust_score        4000 non-null   int64
 20  source_reputation  4000 non-null   int64
 21  clickbait_score    4000 non-null   float64
 22  plagiarism_score   4000 non-null   float64
 23  label              4000 non-null   object
dtypes: float64(10), int64(4), object(10)
memory usage: 750.1+ KB

## Dropping Irrelevant Columns

In [19]:
data.drop('id', axis=1, inplace=True)
data.drop('state', axis=1, inplace=True)
data.drop('author', axis=1, inplace=True)
data.drop('title', axis=1, inplace=True)
data.drop('date_published', axis=1, inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   text               4000 non-null   object
 1   source             4000 non-null   object
 2   category           4000 non-null   object
 3   sentiment_score    4000 non-null   float64
 4   word_count         4000 non-null   float64
 5   char_count         4000 non-null   float64
 6   has_images         4000 non-null   float64
 7   has_videos         4000 non-null   float64
 8   readability_score  4000 non-null   float64
 9   num_shares         4000 non-null   float64
 10  num_comments       4000 non-null   float64
 11  political_bias     4000 non-null   object
 12  fact_check_rating  4000 non-null   object
 13  is_satirical       4000 non-null   int64
 14  trust_score        4000 non-null   int64
 15  source_reputation  4000 non-null   int64
 16  clickbait_score    4000 non-null   float64
 17  plagiarism_score   4000 non-null   float64
 18  label              4000 non-null   object
dtypes: float64(10), int64(3), object(6)
memory usage: 593.9+ KB

In [21]:
def changeFloattoInt64(cols):
    for i in cols:
        data[i] = data[i].astype('int64')

columns = ['sentiment_score', 'word_count', 'char_count', 'has_images', 'has_videos', 'readability_score', 'num_shares', 'num_comments', 'clickbait_score', 'plagiarism_score']
changeFloattoInt64(columns)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   text               4000 non-null   object
 1   source             4000 non-null   object
 2   category           4000 non-null   object
 3   sentiment_score    4000 non-null   int64
 4   word_count         4000 non-null   int64
 5   char_count         4000 non-null   int64
 6   has_images         4000 non-null   int64
 7   has_videos         4000 non-null   int64
 8   readability_score  4000 non-null   int64
 9   num_shares         4000 non-null   int64
 10  num_comments       4000 non-null   int64
 11  political_bias     4000 non-null   object
 12  fact_check_rating  4000 non-null   object
 13  is_satirical       4000 non-null   int64
 14  trust_score        4000 non-null   int64
 15  source_reputation  4000 non-null   int64
 16  clickbait_score    4000 non-null   int64
 17  plagiarism_score   4000 non-null   int64
 18  label              4000 non-null   object
dtypes: int64(13), object(6)
memory usage: 593.9+ KB

In [23]:
data['label'].unique()

array(['Fake', 'Real'], dtype=object)

In [24]:
data_clean = data.copy()

In [25]:
def encodeCols(cols):
    for i in cols:
        temp = pd.DataFrame({i:data[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(temp))
        data_clean[i] = data_LE.transform(data[i])

columns = ['label', 'fact_check_rating', 'political_bias','category','source','text']
encodeCols(columns)

In [26]:
data_clean.head()

,text,source,category,sentiment_score,word_count,char_count,has_images,has_videos,readability_score,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score,label
0,0,11,1,0,1302,5070,0,0,66,47305,450,0,0,1,76,6,0,53,0
1,1111,10,5,0,322,2722,1,0,41,39804,530,1,1,1,1,5,0,28,0
2,2222,7,4,0,228,5904,0,1,30,45860,763,0,1,0,57,1,0,0,0
3,3333,2,4,0,155,825,1,0,75,34222,945,0,2,1,18,10,0,32,0
4,3445,3,5,0,962,1087,1,0,43,35934,433,2,1,0,95,6,0,77,1

In [27]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   text               4000 non-null   int32
 1   source             4000 non-null   int32
 2   category           4000 non-null   int32
 3   sentiment_score    4000 non-null   int64
 4   word_count         4000 non-null   int64
 5   char_count         4000 non-null   int64
 6   has_images         4000 non-null   int64
 7   has_videos         4000 non-null   int64
 8   readability_score  4000 non-null   int64
 9   num_shares         4000 non-null   int64
 10  num_comments       4000 non-null   int64
 11  political_bias     4000 non-null   int32
 12  fact_check_rating  4000 non-null   int32
 13  is_satirical       4000 non-null   int64
 14  trust_score        4000 non-null   int64
 15  source_reputation  4000 non-null   int64
 16  clickbait_score    4000 non-null   int64
 17  plagiarism_score   4000 non-null   int64
 18  label              4000 non-null   int32
dtypes: int32(6), int64(13)
memory usage: 500.1 KB

In [28]:
data_clean.to_csv(r'cleaned-data.csv', index=False, header=True)

In [29]:
data_clean.head(2)

,text,source,category,sentiment_score,word_count,char_count,has_images,has_videos,readability_score,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score,label
0,0,11,1,0,1302,5070,0,0,66,47305,450,0,0,1,76,6,0,53,0
1,1111,10,5,0,322,2722,1,0,41,39804,530,1,1,1,1,5,0,28,0

## Train-Test Split

In [30]:
X = data_clean.drop('label', axis=1)  

y = data_clean['label']  

trainX, testX, trainY, testY = train_test_split(X, y, test_size=0.2, shuffle=False, random_state=42)

In [31]:
trainX.head(2)

,text,source,category,sentiment_score,word_count,char_count,has_images,has_videos,readability_score,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score
0,0,11,1,0,1302,5070,0,0,66,47305,450,0,0,1,76,6,0,53
1,1111,10,5,0,322,2722,1,0,41,39804,530,1,1,1,1,5,0,28

In [32]:
trainY.head(2)

0    0
1    0
Name: label, dtype: int32

In [33]:
print(f"Train features shape: {trainX.shape}")
print(f"Test features shape: {testX.shape}")
print(f"Train target shape: {trainY.shape}")
print(f"Test target shape: {testY.shape}")

Train features shape: (3200, 18)
Test features shape: (800, 18)
Train target shape: (3200,)
Test target shape: (800,)

## Training

In [34]:
model_SVC = SVC()
model_SVC.fit(trainX, trainY)

print(model_SVC)

SVC()

## Processing Results

In [35]:
svc_predictions = model_SVC.predict(testX)
print(svc_predictions)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

## Accuracy

In [36]:
from sklearn.metrics import accuracy_score
svc_accuracy = accuracy_score(testY, svc_predictions)

print("-- Model Accuracy: ", end="")
print(round(svc_accuracy,3))

-- Model Accuracy: 0.494